@{
    ViewData["Title"] = "My Workouts";
}

@section css{
    <link rel="stylesheet" href="~/css/workout/workout.css" asp-append-version="true" />
}

@model List<DateTime>

<div class="workout-header">
    <h1 style="font-weight: bold; font-size:27px;">My Workouts</h1>
    <div class="workout-header-btns">
        <i class="fa-solid fa-filter fa-xl"></i>
        <a href="@Url.Action("AddWorkout", "Workout")"><i class="fa-solid fa-circle-plus fa-xl"></i></a>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="workout-list-container">
@if (Model != null && Model.Count > 0)
{
    foreach (var date in Model)
    {
        if (date == DateTime.Today)
        {
            <a class="a-container" href="@Url.Action("WorkoutsByDate", "Workout", new { date = date })">
                <div class="workout-box">
                        <div class="calendar-icon calendar-icon-current">
                        <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
                            <g clip-path="url(#clip0_7_474)">
                                <path d="M47.6562 0C47.1507 0 46.6658 0.200837 46.3083 0.558328C45.9508 0.915819 45.75 1.40068 45.75 1.90625V3.8125H15.25V1.90625C15.25 1.40068 15.0492 0.915819 14.6917 0.558328C14.3342 0.200837 13.8493 0 13.3438 0C12.8382 0 12.3533 0.200837 11.9958 0.558328C11.6383 0.915819 11.4375 1.40068 11.4375 1.90625V3.8125H7.625C5.60273 3.8125 3.66328 4.61585 2.23331 6.04581C0.803349 7.47578 0 9.41522 0 11.4375V53.375C0 55.3973 0.803349 57.3367 2.23331 58.7667C3.66328 60.1967 5.60273 61 7.625 61H53.375C55.3973 61 57.3367 60.1967 58.7667 58.7667C60.1967 57.3367 61 55.3973 61 53.375V11.4375C61 9.41522 60.1967 7.47578 58.7667 6.04581C57.3367 4.61585 55.3973 3.8125 53.375 3.8125H49.5625V1.90625C49.5625 1.40068 49.3617 0.915819 49.0042 0.558328C48.6467 0.200837 48.1618 0 47.6562 0ZM53.375 7.625C54.3861 7.625 55.3559 8.02667 56.0708 8.74166C56.7858 9.45664 57.1875 10.4264 57.1875 11.4375V15.25H3.8125V11.4375C3.8125 10.4264 4.21417 9.45664 4.92916 8.74166C5.64414 8.02667 6.61386 7.625 7.625 7.625H53.375ZM3.8125 19.0625H57.1875V53.375C57.1875 54.3861 56.7858 55.3559 56.0708 56.0708C55.3559 56.7858 54.3861 57.1875 53.375 57.1875H7.625C6.61386 57.1875 5.64414 56.7858 4.92916 56.0708C4.21417 55.3559 3.8125 54.3861 3.8125 53.375V19.0625Z" fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_7_474">
                                    <rect width="61" height="61" fill="white" transform="matrix(-1 0 0 1 61 0)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>

                    <div class="workout-list">
                        <h3 class="workout-list-link-current">@date.ToString("dddd")<br/> @date.ToString("MMMM dd")</h3>
                    </div>
                </div>
            </a>
        } else if (Model.First() == date)
        {
            <a class="a-container" href="@Url.Action("WorkoutsByDate", "Workout", new { date = date })">
                <div class="workout-box-first">
                    <div class="calendar-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
                            <g clip-path="url(#clip0_7_474)">
                                <path d="M47.6562 0C47.1507 0 46.6658 0.200837 46.3083 0.558328C45.9508 0.915819 45.75 1.40068 45.75 1.90625V3.8125H15.25V1.90625C15.25 1.40068 15.0492 0.915819 14.6917 0.558328C14.3342 0.200837 13.8493 0 13.3438 0C12.8382 0 12.3533 0.200837 11.9958 0.558328C11.6383 0.915819 11.4375 1.40068 11.4375 1.90625V3.8125H7.625C5.60273 3.8125 3.66328 4.61585 2.23331 6.04581C0.803349 7.47578 0 9.41522 0 11.4375V53.375C0 55.3973 0.803349 57.3367 2.23331 58.7667C3.66328 60.1967 5.60273 61 7.625 61H53.375C55.3973 61 57.3367 60.1967 58.7667 58.7667C60.1967 57.3367 61 55.3973 61 53.375V11.4375C61 9.41522 60.1967 7.47578 58.7667 6.04581C57.3367 4.61585 55.3973 3.8125 53.375 3.8125H49.5625V1.90625C49.5625 1.40068 49.3617 0.915819 49.0042 0.558328C48.6467 0.200837 48.1618 0 47.6562 0ZM53.375 7.625C54.3861 7.625 55.3559 8.02667 56.0708 8.74166C56.7858 9.45664 57.1875 10.4264 57.1875 11.4375V15.25H3.8125V11.4375C3.8125 10.4264 4.21417 9.45664 4.92916 8.74166C5.64414 8.02667 6.61386 7.625 7.625 7.625H53.375ZM3.8125 19.0625H57.1875V53.375C57.1875 54.3861 56.7858 55.3559 56.0708 56.0708C55.3559 56.7858 54.3861 57.1875 53.375 57.1875H7.625C6.61386 57.1875 5.64414 56.7858 4.92916 56.0708C4.21417 55.3559 3.8125 54.3861 3.8125 53.375V19.0625Z" fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_7_474">
                                    <rect width="61" height="61" fill="white" transform="matrix(-1 0 0 1 61 0)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>

                    <div class="workout-list">
                        <h3 class="workout-list-link">@date.ToString("dddd")<br /> @date.ToString("MMMM dd")</h3>
                    </div>
                </div>
            </a>
        }
        else
        {
            <a class="a-container" href="@Url.Action("WorkoutsByDate", "Workout", new { date = date })">
                <div class="workout-box">
                    <div class="calendar-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
                            <g clip-path="url(#clip0_7_474)">
                                <path d="M47.6562 0C47.1507 0 46.6658 0.200837 46.3083 0.558328C45.9508 0.915819 45.75 1.40068 45.75 1.90625V3.8125H15.25V1.90625C15.25 1.40068 15.0492 0.915819 14.6917 0.558328C14.3342 0.200837 13.8493 0 13.3438 0C12.8382 0 12.3533 0.200837 11.9958 0.558328C11.6383 0.915819 11.4375 1.40068 11.4375 1.90625V3.8125H7.625C5.60273 3.8125 3.66328 4.61585 2.23331 6.04581C0.803349 7.47578 0 9.41522 0 11.4375V53.375C0 55.3973 0.803349 57.3367 2.23331 58.7667C3.66328 60.1967 5.60273 61 7.625 61H53.375C55.3973 61 57.3367 60.1967 58.7667 58.7667C60.1967 57.3367 61 55.3973 61 53.375V11.4375C61 9.41522 60.1967 7.47578 58.7667 6.04581C57.3367 4.61585 55.3973 3.8125 53.375 3.8125H49.5625V1.90625C49.5625 1.40068 49.3617 0.915819 49.0042 0.558328C48.6467 0.200837 48.1618 0 47.6562 0ZM53.375 7.625C54.3861 7.625 55.3559 8.02667 56.0708 8.74166C56.7858 9.45664 57.1875 10.4264 57.1875 11.4375V15.25H3.8125V11.4375C3.8125 10.4264 4.21417 9.45664 4.92916 8.74166C5.64414 8.02667 6.61386 7.625 7.625 7.625H53.375ZM3.8125 19.0625H57.1875V53.375C57.1875 54.3861 56.7858 55.3559 56.0708 56.0708C55.3559 56.7858 54.3861 57.1875 53.375 57.1875H7.625C6.61386 57.1875 5.64414 56.7858 4.92916 56.0708C4.21417 55.3559 3.8125 54.3861 3.8125 53.375V19.0625Z" fill="black" />
                            </g>
                            <defs>
                                <clipPath id="clip0_7_474">
                                    <rect width="61" height="61" fill="white" transform="matrix(-1 0 0 1 61 0)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>

                    <div class="workout-list">
                        <h3 class="workout-list-link">@date.ToString("dddd")<br /> @date.ToString("MMMM dd")</h3>
                    </div>
                </div>
            </a>
        }
    }
}
else
{
    <h3>No workouts to display.</h3>
}
</div>
